<div id="profile">
  <div id="header">
    <div class="title">
      <a href="/">topics</a>
    </div>
    <div class="user">
      <a href="/">@<%= user.screen_name%></a>
      <div class="bye">X</div>
    </div>
  </div>
  <div id="help">
    <p>
    Welcome to your <em><b>topics</b></em>.
    Once you have created at least one,
    <em>click it</em> to start writing your ideas or
    <em>hold your click</em> to move and reorder them.
    Once you're inside, the <em>bottom fields</em> will reveal
    you more features ;)
    </p>
  </div>
  <h2>Your Topics</h2>
  <ul id="topics">
    <li id="loading"></li>
    <li class="newTopic">
      <input class="name" placeholder="Enter a new topic!" />
      <div class="count"><span>140</span> <small>left</small></div>
      <button class="new">create</button>
      <div class="load hide"></div>
    </li>
  </ul>
</div>
