| Connected!
- if (popup)
  #popup
script
  var time = 500
    , popup = document.getElementById('popup')
  setTimeout(function(){
    if (popup) {
      window.close()
    } else {
      window.location.href = '/'
    }
  }, time)
