extends layout

block content
  #welcome
    .what
      a(href="/sadasant/topic/CODIMOS") What is this?
    .title
      span Take notes with
      h1
        a(href="/") topics
    a(href="#connect")
      .buttom Connect With Twitter
