<div id="fulltopic">
  <div id="header">
    <div class="title">
      <div class="back">&lt;</div>
      <a href="/">topics</a>
    </div>
    <div class="user">
      <a href="/">@<%= user.screen_name %></a>
      <div class="bye">X</div>
    </div>
  </div>
  <div class="topicname">
    <button class="cancel hide">cancel</button>
    <button class="edit">edit</button>
    <div class="load hide"></div>
    <button class="save hide">save</button>
    <button class="del">delete</button>
    <input type="text" class="editname hide" value="<%= topic.name %>" />
    <h2><%= topic.name %></h2>
    <div class="count hide"><span>140</span> <small>left</small></div>
  </div>
  <% if (tip) { %>
    <div id="tips"> Pro tip: <%= tip %></div>
  <% } %>
  <ul id="notes">
    <li id="loading"></li>
    <li class="newNote">
      <textarea class="text" placeholder="Enter a new note!"></textarea>
      <div class="count"><span>2048</span> <small>left</small></div>
      <button class="new">create</button>
      <div class="load hide"></div>
    </li>
    <li class="sendMail">
      <span>Email this topic:</span>
      <input type="text" placeholder="Enter a valid email address" />
      <button class="send">send</button>
      <div class="load hide"></div>
    </li>
  </ul>
  <ul class="buttom">
    <li>
      <a href="/<%= user.screen_name + '/topic/' + topic._id %>" target="_blank">
        Open your public topic
      </a>
    </li>
  </ul>
</div>
